@import "tailwindcss";
@plugin "daisyui";

.striped-bar {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5px,
    rgba(0, 0, 0, 0.1) 5px,
    rgba(0, 0, 0, 0.1) 10px
  );
}

.heading {
  @apply text-xl md:text-[1.12rem] font-bold md:font-semibold
}